/* color palette from Attack of the Clones */
:root {
  --sw-c-dark: #1b1110;
  --sw-c-grey: #373639;
  --sw-c-light-grey: #c4c6b4;
  --sw-c-brown: #70503b;
  --sw-c-light-brown: #b98257;
  --sw-c-blue: #6f989e;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--sw-c-brown);
  --color-text: var(--sw-c-light-grey);
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
